services:
  lint:
    image: buildkite/plugin-linter:v3.0.0
    command: ['--id', 'aws-assume-role-with-web-identity']
    volumes:
      - ".:/plugin:ro"

  tests:
    image: buildkite/plugin-tester:v4.3.0
    volumes:
      - ".:/plugin:ro"
